html, body{
    width:100%;
    height:100%;
    min-width:350px;
    margin:0;
    padding:0;

}
body{
    font-family: sans-serif;
    background-color:#000;
    color:#fff;
}
body, .content, .content-group, .content-group-item{
    display:flex;
}
body, .content, .content-group{
    flex-direction:column;
}
div, a, input{
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a, a:hover, a:active{
    color:#fff;
    text-decoration: none;
}
.content{
    flex-direction:row;
    padding:4px;
}
.content-group{
    background-color:#1a1a1a;
    margin:2px;
}
.content, .content-group, .content-group-item{
    flex-grow:1;
    flex-shrink:1;
}
.content-group-item{
    box-sizing: border-box;
    flex-basis:0;
    justify-content:center;
    align-items:center;
}
.content-group .content-group-item{
    margin:5px;
}
.content-item-title{
    font-size:175%;
}

.content-group.group-projects{ flex-grow:1.618;}
.content-group.group-games{ flex-grow:1.382;}
.content-group.group-tools{ flex-grow:1;}
.group-projects .content-group-item{
    background-color:#002fba;
}
.group-games .content-group-item{
    background-color:#5a178c;
}
.group-tools .content-group-item{
    background-color:#7c1a51;
}

.group-projects .content-group-item:hover{
    background-color:#165c9c;
}
.group-games .content-group-item:hover{
    background-color:#613ca4;
}
.group-tools .content-group-item:hover{
    background-color:#7c357a;
}

/*header*/
.header{
    font-size:150%;
    height:1em;
    padding:.78em;
    background-color:#504416;
    text-align:center;
}
.header:hover{
    background-color:#676426;
    cursor:pointer;
}

/*modal*/
.modal-bg{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(255,255,255,0.318);
    /*display:flex;*/
    justify-content: center;
    align-items: center;
    display:none;
}
.modal{
    background-color: #fff;
    border: 1px solid #63799b;
    color:#000;
    width:60%;
    height:66.7%;
    min-width:300px;
}
.modal-title{
    font-size:150%;
    padding:.6472em 1.047em;
    margin-bottom: .732em;
    background-color:#e4eaec;
}
.modal input{
    padding:.4em .6472em;
}
.modal{
    display:flex;
    flex-direction: column;

}
.modal-content, .form-grow{
    flex-grow:1;
    position:relative;
    font-size:125%;
}
form{
    display:grid;
    grid-template: max-content max-content max-content 1fr max-content/min-content 1fr;
    padding-bottom:.6em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
form, form textarea{
    margin:0;
    grid-column:1/3;
}
form label{
    padding:.3236em 1.0471em;
}
.form-group, .form-text{
    margin:.3236em 1.0471em;
}
.form-group{
    grid-column:1/3;
}
.form-group label{
    display:inline-block;
    min-width:4em;
}
.form-text{
    border:1px solid #6a6a7b;
    min-width: 10em;
    font-size: 80%;
}
.form-text:not(textarea){
    margin-left:0;
}
.form-text:hover{
    background-color:#f6f9ff;
}
.form-group textarea{
    width: 100%;
    height: 100%;
    padding: 0.5em;
    resize:none;
}
.form-button{
    font-size:105%;
    border: none;
    background-color:#412472;
    color:#fff;
    margin: 0 .5em;
}
.form-button:hover{
    background-color:#7142b9;
    cursor:pointer;
}
.form-button-close{
    background-color:#dcc3dc;
    color:#4a093b;
}
.form-button-close:hover{
    background-color:#dc9bf1;
    color: #3a0f0c;
}
form input, textarea{
    font-size:100%;
}

@media (max-aspect-ratio:3/2){
    .content{
        flex-direction:column;
    }
    .content-group{
        flex-direction:row;
    }
}
@media screen and (min-width:768px){
    .content-item-title{
        font-size:250%;
    }
    .content-group .content-group-item{
        margin:15px;
    }
    /*.content-group-item{
        flex-basis:0;
    }*/
    .form-group{
        margin:.6472em 1.0471em;
    }
}