/* By Lumi - "Always Hard-Coded" */
/* general */
html, body{
    margin:0;
    padding:0;
    position: relative;
    height:100%;
}
body{
    display:flex;
    flex-direction:row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navigator */
.navigator{
    background-color:#303045;
    padding:1.5rem;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}
.navigator a{
    color:#ffffff9f;
    text-align: center;
    text-decoration: none;
    font-size:1.5rem;
}
.navigator a:hover{
    color:#ffffff;
}
.navigator .nav-icons{
    width:7.5vh;
    height:7.5vh;
    background:#ffffffa8;
    mask-size:cover;
    -webkit-mask-size:cover;
    display: inline-block;
}
.nav-home{
    mask-image:url('res/images/home.svg');-webkit-mask-image:url('res/images/home.svg');
}
@keyframes nav-hover{
    0%{
        background-size: 100% 0%;
    }
    100%{
        background-size: 100% 200%;
    }
}
.navigator a:hover .nav-icons{
    background:#ffffff70 linear-gradient(transparent 50%, #ffffff 51%) no-repeat;
    background-position: center bottom;
    animation: nav-hover ease-out .25s forwards;
}
/* contacts */
.contacts{
    position:fixed;
    background-color:#0000003f;
    top:0; right:0; left:auto; bottom:auto;
}
.contacts img{
    width:45px;
}
.contacts a {
    padding:0.875rem 1.265rem;
    display: inline-block;
}
.contacts a:hover {
    background-color:#00000060;
}
.contacts a:first-of-type{
    padding-left:1.5rem;
    padding-right:0.85rem;
}
.contacts a:last-of-type{
    padding-right:1.5rem;
    padding-left:0.85rem;
}
.navigator, .contacts{
    z-index:2;
}
/* contents */
.content-wrapper{
    width:100%;
    overflow-y:scroll;
    scroll-behavior: smooth;
}
.content{
    display:flex;
    padding:5vw 11vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content:not(.intro){
    font-size:1.25rem;
}
.content:nth-child(odd):not(.intro){
    background-color:#eee;
}
.content:nth-child(even){
    background-color:#ccc;
}
.content h1{
    font-weight:100; 
}
.content a:not(.img-link){
    color:#332a6f;
    text-decoration: none;
    font-weight:400;
}
.content a:hover:not(.img-link){
    background-color:#ffffffef;
    border-bottom:1px solid #9763ff;
}
.content-title{
    font-size:125%;
    font-weight:400;
    margin-bottom:0.65rem;
}
/* intro */
.intro{
    background:#5d486f url("res/bg.jpg") right center no-repeat;
    background-size: 100% auto;
}
.intro h1{
    color:#fff;
    font-size:425%;
    text-align:center;
}
.intro-buttons{
    margin-top: 1.78rem;
    white-space:nowrap;
}
.intro-buttons a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #dfcfffff;
    font-weight: 200;
    font-size: 2.1rem;
    padding: 0.75rem 1.8rem;
    margin: 0 1.1rem;
}
.content .intro-buttons a:hover{
    background-color:#511391;
    color:#fff;
    border-bottom:none;
    transition: .2s ease-in;
}
/* abouts */
.about-wrapper{
    text-align: center;
}
.about-wrapper-row, .about-section{
    display:inline-block;
}
.about-section{
    position: relative;
    margin:0 2.2rem 4.14rem 2.2rem;
}
.about-section img, .about-section-text{
    vertical-align: middle;
    margin: .6rem 0;
}
.about-section-text{
    display:inline-block;
    width:14.5rem;
    margin-left:2.75rem;
    text-align: left;
}
.about-tech-list{
    margin-top:1.78rem;
}
.about-tech{
    margin: 0 0.5rem 2.5rem 0.5rem;
    display:inline-block;
    position: relative;
}
.about-tech-label{
    position: absolute;
    display:none;
    top:100%;
    left: 0;
    right: 0;
    width: auto;
    background-color: #0000009c;
    color: #fff;
    line-height: 1rem;
    font-size:.75rem;
    padding: .375rem 0;
}
.about-tech img:hover+.about-tech-label{
    display:inline-block;
}
/* contact (content) */
.contact-group{
    margin-top:2.17rem;
    text-align: center;
}
.contact-group img{
    margin:0 1.32rem;
}
/* responsive screen */
@media screen and (max-width:1200px){
    .nav-label{
        display:none;
    }
    .navigator a:hover .nav-icons{
        background-color:#fff;
    }
}
@media screen and (max-aspect-ratio:1/1){
    .navigator{
        position:sticky;
        left:0;right:0;top:0;bottom:auto;
        flex-direction:row;
    }
    body{
        display:block;
        height:auto;
    }
    .intro{
        background-size: auto 100%;
    }
    .content-wrapper{
        overflow-y:visible;
    }
    .content:not(.intro){
        padding-top:11.1vh;
    }
    .navigator .nav-icons{
        width:7.5vw;
        height:7.5vw;
    }
    @media screen and (min-width:600px){
        .nav-label{
            display:block;
        }
    }
    .contacts{
        display: none;
    }
    .intro-buttons{
        margin-top: 0;
    }
    .intro-buttons a{
        display:block;
        margin:1.1rem 0
    }
}
